.home-page-style {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease-out;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;

        // .line {
        //     border-bottom: 1px solid #c7c5c5;
        //     display: inline-block;
        //     width: 26.8em;
        //     vertical-align: middle;
        // }

        .label {
            padding: 0px 25px;
            font-size: 22px;
            color: #06064a;
        }

    }


}